.products { 
    width: 100%;
    padding: 50px 20px;
	.products__container { 
		.section-title { 
            margin-bottom: 30px;
		}

		.products__swiper { 
            width: 100%;
			.swiper { 
				.swiper-wrapper { 
					.swiper-slide { 
                        width: 100%;
                        max-width: 248px;
                        margin-right: 15px;
					}
				}
			}
		}
	}
}