.top-category { 
    width: 100%;
    padding: 0 20px 60px;
	.top-category__container { 
		.section-title { 
			margin-bottom: 20px;
		}

		.top-category__flex { 
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
			.top-category__img { 
                width: 100%;
                max-width: 430px;
                position: relative;
                z-index: 1;
				img { 
                    width: 106.97%;
                    height: 310px;
                    position: relative;
                    z-index: -1;
				}
			}

			.top-category__swiper { 
                width: 100%;
                max-width: 872px;
                position: relative;
                z-index: 2;
				.slideprev, .slidenext { 
                    position: absolute;
					left: -15px;
					top: 50%;
					transform: translateY(-50%);
					border-radius: 30px;
					background: rgba(255, 255, 255, 0.27);
					box-shadow: 0px 4px 10px 0px rgba(153, 153, 153, 0.20);
                    z-index: 3;
				}
				.slidenext {
                    left: unset;
					right: -15px;
				}
                
				.swiper { 
                    width: 100%;
                    z-index: 1;
                    padding: 20px 0;
					.swiper-wrapper { 
					
						.swiper-slide { 
                            width: 100%;
                            max-width: 220px;
                            margin-right: 20px;
							height: auto;
							.category-item {
								height: 100%;
								padding: 56px 16px 20px;
								h3 {
									a {
										font-size: 16px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}