.contacts { 
    width: 100%;
    padding: 30px 20px 60px;
	.contacts__container { 
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
		.contacts__info { 
            width: 100%;
            max-width: 308px;
			h1 { 
                color: #333;
                font-family: Roboto;
                font-size: 26px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%; /* 31.2px */
                letter-spacing: 0.52px;
                text-transform: capitalize;
                margin-bottom: 26px;
			}

			.contacts__item { 
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 10px;
                margin-bottom: 16px;
				.icon { 
                    width: 26px;
                    height: 26px;
                    min-width: 26px;
                    border-radius: 5px;
                    border: 1px solid #E6E6E6;
                    background: rgba(255, 255, 255, 0.70);
                    display: flex;
                    justify-content: center;
                    align-items: center;
				}

                .text {
                    width: 100%;
                    padding-top: 4px;
                }

				a { 
                    color: #000;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    display: block;
                    margin-bottom: 12px;
                    &:last-child {
                        margin-bottom: 0;
                    }
				}

				span { 
                    color: #333;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    display: block;
                    margin-bottom: 12px;
                    &:last-child {
                        margin-bottom: 0;
                    }
				}

				h4 { 
                    color: #333;
                    font-family: Roboto;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: 0.18px;
                    margin-bottom: 22px;
				}

				p { 
                    color: #000;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-bottom: 12px;
                    &:last-child {
                        margin-bottom: 0;
                    }
				}
			}

			.contacts__callback { 
                width: 100%;
                margin-bottom: 40px;
                margin-top: 40px;
				p { 
                    color: #333;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: 0.16px;
                    margin-bottom: 20px;
				}

				.contacts__callback-flex { 
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 16px;
				}
			}

			.contacts__soc { 
                width: 100%;
                p { 
                    color: #333;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: 0.16px;
                    margin-bottom: 20px;
				}

				.contacts__soc-flex { 
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 16px;
				}
			}
		}

		.contacts__map { 
            width: 100%;
            max-width: 900px;
			h3 { 
                color: #333;
                font-family: Roboto;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.18px;
                margin-bottom: 26px;
			}

			iframe { 
                width: 100%;
                border: unset;
                height: 470px;
                border-radius: 3px;
                opacity: 0.6;
			}
		}
	}
}