.advantages { 
    width: 100%;
    padding: 28px 20px;
    background: #FCFCFC;
	.advantages__container { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        @media(max-width: $md3) {
            flex-direction: column-reverse;
        }
		.advantages__text { 
            width: 100%;
            max-width: 650px;
			h2 { 
                color: #333;
                font-family: Roboto;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                margin-bottom: 50px;
                @media(max-width: $md3) {
                    font-size: 20px;
                    margin-bottom: 26px;
                }
			}

			.advantages__grid { 
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 40px 84px;
                @media(max-width: $md3) {
                    grid-gap: 30px 40px;
                }
				.advantages__item { 
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    align-items: center;
                    gap: 24px;
                    @media(max-width: $md3) {
                        flex-direction: column;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 16px;
                    }
					.icon { 
                        width: 100%;
                        max-width: 60px;
                        min-width: 60px;
					}

					.text { 
                        width: 100%;
                        max-width: 200px;
                        @media(max-width: $md3) {
                            max-width: unset;
                            text-align: center;
                        }
						span { 
                            color: #333;
                            font-family: Roboto;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            display: block;
                            margin-bottom: 4px;
                            @media(max-width: $md3) {
                                font-size: 16px;
                            }
						}

						p { 
                            color: rgba(51, 51, 51, 0.80);
                            font-family: Roboto;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            @media(max-width: $md3) {
                                font-size: 14px;
                            }
						}
					}
				}
			}
		}

		.advantages__img { 
            width: 100%;
            max-width: 534px;
			img { 
                width: 100%;
                height: 332px;
                border-radius: 10px;
                object-fit: cover;
                object-position: center;
                @media(max-width: $md3) {
                    height: 214px;
                }
			}
		}
	}
}