.liked {
  width: 100%;
  padding: 20px 20px 60px;

  .liked__container {
    h1 {
      color: #333;
      font-family: Roboto;
      font-size: 28px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%;
      /* 33.6px */
      letter-spacing: 0.56px;
      margin-bottom: 34px;
    }

    .liked__grid {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 20px 16px;
      @media(max-width: $md1) {
        grid-template-columns: repeat(4, 1fr);
      }
      @media(max-width: $md2) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media(max-width: $md3) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
      }
    }
    .liked__empty {
      width: 100%;
      max-width: 464px;
      margin: 0 auto;
      p {
        &:first-child {
          color: #333;
          font-family: Roboto;
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 26.4px */
          letter-spacing: 0.44px;
          text-align: center;
          margin-bottom: 22px;
        }
        &:nth-child(2) {
          color: #333;
          font-family: Roboto;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 21.6px */
          letter-spacing: 0.36px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          margin-bottom: 30px;
        }
      }

      a {
        margin: 0 auto;
        width: 100%;
        max-width: 282px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.16px;
        border-radius: 10px;
        color: #FFF;
        border: 1px solid rgba(0, 0, 0, 0.08);
        background: #0C96D1;
        svg {
          path {
            fill: #FFF!important;
          }
        }
      }
    }
  }
}