.callback-modal {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.50);
    z-index: 91;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .callback-modal__container {
        width: 100%;
        max-width: 400px;
        background: #FFF;
        border-radius: 10px;
    }
    .callback-modal__title {
        padding: 20px;
        border-bottom: 1px solid #DADADA;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            color: #333;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }
    .callback-modal__set {
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        button {
            padding: 12px 18px;
            border-radius: 10px;
            background: #F9F9F9;
            color: #333;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            transition: all 0.5s;
            &.active {
                border-radius: 10px;
                background: #FFF;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.30);
            }
        }
    }
    .callback-modal__contacts {
        width: 100%;
        padding: 0 20px 20px 40px;
        .callback-modal__contacts-item {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 10px;
            margin-bottom: 16px;
            &:last-child {
                margin-bottom: 0;
            }
            svg {
                min-width: 26px;
            }
            .links {
                a {
                    color: #000;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    display: block;
                    margin-bottom: 12px;
                    border-right: unset!important;
                    padding: 0!important;
                    max-width: unset!important;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .callback-modal__form {
        width: 100%;
        padding: 0 20px 40px;
        p {
            color: #000;
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 20px;
        }
        .input-text {
            margin-bottom: 14px;
            .input {
                border-radius: 3px;
                background: #EFEFEF;
                border: unset;
                height: 40px;
            }
        }
        .input-btn {
            margin-top: 20px;
            .input {
                height: 30px;
            }
        }
    }
}