.orders-table { 
    width: 100%;
    border: unset;
    padding: 0;
    @media(max-width: $md3) {
        min-width: 676px;
    }
	tbody { 
        width: 100%;
		tr { 
            width: 100%;
            cursor: pointer;
            position: relative;
            .alllink {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 5;
                cursor: pointer;
                display: block;
            }
			td { 
                margin: 0;
                padding: 16px 0;
                background: #FCFCFC;
                border-bottom: 1px solid #EDEDED;
                &:first-child {width: 136px;}
                &:nth-child(2) {width: 148px;}
                &:nth-child(3) {width: 144px;}
                &:nth-child(4) {width: 110px;}
                &:nth-child(5) {width: 176px;}
                &:last-child {width: 142px;}
                p {
                    color: #201E1E;
                    font-family: Roboto;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-transform: capitalize;
                    text-align: center;
                }
                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 32px;
                    height: 32px;
                    border-radius: 10px;
                    border: 1px solid #EDEDED;
                    background: rgba(12, 150, 209, 0.80);
                    margin: 0 auto;
                }
			}

            &:last-child {
                td {
                    &:first-child {
                        border-radius: 0px 0px 0px 10px;
                    }
                    &:last-child {
                        border-radius: 0px 0px 10px 0px;
                    }
                }
            }

            &:first-child {
                cursor: auto;
                td {
                    margin: 0;
                    padding: 20px 0;
                    background: #0C96D1;
                    &:first-child {
                        border-radius: 10px 0px 0px 0px;
                        width: 136px;
                    }
                    &:nth-child(2) {width: 148px;}
                    &:nth-child(3) {width: 144px;}
                    &:nth-child(4) {width: 110px;}
                    &:nth-child(5) {width: 176px;}
                    &:last-child {
                        border-radius: 0px 10px 0px 0px;
                        width: 142px;
                    }
                    p {
                        color: #FFF;
                        font-family: Roboto;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        text-transform: capitalize;
                        text-align: center;
                    }
                }
            }
		}
	}
}