.home-news { 
    width: 100%;
    padding: 10px 20px 60px;
	.home-news__container { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
		.home-news__text { 
            width: 100%;
            max-width: 422px;
			h2 { 
                color: #333;
                font-family: Roboto;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                margin-bottom: 30px;
			}

			p { 
                color: rgba(51, 51, 51, 0.80);
                font-family: Montserrat;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.54px;
                margin-bottom: 30px;
			}

			a { 
                width: 100%;
                max-width: 164px;
                height: 46px;
                border-radius: 5px;
                border: 1px solid #0C96D1;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                color: #0C96D1;
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
			}
		}

		.home-news__right { 
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 14px;
            max-width: 828px;
		}   
	}
}