.top-brned { 
    width: 100%;
    padding: 50px 20px;
	.top-brned__container { 
		.section-title { 
            margin-bottom: 30px;
		}

		.top-brned__flex { 
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            gap: 30px;
            @media(max-width: $md2) {
                flex-direction: column;
            }
			.top-brned__img { 
                width: 100%;
                height: auto;
                background-image: url("https://brend-instrument.ru/img/Rectangle 149938.png");
                max-width: 496px;
                border-radius: 8px;
                background-size: cover;
                background-color: #eee;
                background-repeat: no-repeat;
                background-position: center;
                @media(max-width: $md1) {
                    max-width: 360px;
                }
                @media(max-width: $md2) {
                    display: none;
                    height: 500px;
                    width: 100%;
                    max-width: unset;
                }
			}

			.top-brned__products { 
                width: 100%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 14px;
                max-width: 774px;
                @media(max-width: $md2) {
                    max-width: unset;
                }
                @media(max-width: $md3) {
                    grid-template-columns: repeat(2, 1fr);
                }
			}
		}
	}
}