.brendcrumbs {
  width: 100%;
  padding: 24px 20px;
  margin-top: 200px;
  @media(max-width: $md2) {
    margin-top: 60px;
  }
  .brendcrumbs__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;

    a {
      color: #333;
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.14px;
      text-decoration-line: underline;
      text-transform: capitalize;

      @media(max-width: $md4) {
        font-size: 12px;
      }

      @media(max-width: $md3) {
        display: none;

        &:first-child {
          display: block;
        }
      }
    }

    svg {
      @media(max-width: $md3) {
        display: none;

        &:nth-child(2) {
          display: block;
        }
      }
    }

    p {
      color: #333;
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.14px;

      @media(max-width: $md4) {
        font-size: 12px;
      }
    }
  }
}