.request-product { 
    width: 100%;
    padding: 158px 20px 10px;
    @media(max-width: $md2) {
        padding: 100px 20px 10px;
    }
    @media(max-width: $md3) {
        padding: 40px 20px 10px;
    }
	.request-product__container { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 70px; 
        filter: drop-shadow(0px 7px 29px rgba(197, 197, 197, 0.22));
        background: #fff;
        border-radius: 10px;
        @media(max-width: $md2) {
            padding: 0 20px;
        }
        @media(max-width: $md3) {
            flex-direction: column;
            padding: 0;
            filter: unset;
            border-radius: 0;
            background: unset;
        }
		h2 { 
            max-width: 238px;
            color: #333;
            font-family: Roboto;
            font-size: 30px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.9px;
            @media(max-width: $md2) {
                font-size: 22px;
            }
            @media(max-width: $md3) {
                order: 2;
                margin-bottom: 40px;
                max-width: unset;
            }
		}

        .request-product__img {
            width: 100%;
            max-width: 418px;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            @media(max-width: $md2) {
                max-width: 300px;
                height: 160px;
            }
            @media(max-width: $md3) {
                order: 1;
                height: auto;
                margin-bottom: 36px;
            }
            img {
                width: 100%;
                height: 274px;
                @media(max-width: $md2) {
                    height: 220px;
                }
            }
        }

		button { 
            width: 100%;
            max-width: 234px;
            height: 46px;
            border-radius: 5px;
            background: #F1D91F;
            color: #333;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            @media(max-width: $md3) {
                order: 3;
            }
		}
	}
}