.footer { 
    width: 100%;
    background: #F9F9F9;
	.footer__top { 
        width: 100%;
        padding: 36px 20px 20px;
		.footer__container { 
			.footer__abaut { 
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 20px;
                padding-bottom: 42px;
                border-bottom: 1px solid rgba(230, 230, 230, 0.60);
                margin-bottom: 44px;
                @media(max-width: $md2) {
                    margin-bottom: 20px;
                    flex-direction: column;
                    padding-bottom: 20px;
                }
				.logo { 
                    width: 100%;
                    max-width: 172px;
                    display: block;
					img {   
                        width: 100%;
					}
				}

				form { 
                    width: 100%;
                    max-width: 872px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 10px;
                    @media(max-width: $md2) {
                        flex-direction: column;
                        gap: 20px;
                    }
					h3 { 
                        color: #333;
                        font-family: Roboto;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        @media(max-width: $md2) {
                            width: 100%;
                            text-align: center;
                        }
					}

					.input-text { 
                        width: 100%;
                        max-width: 380px;
                        display: block;
						input { 
                            width: 100%;
                            height: 48px;
                            padding: 0 20px;
                            border-radius: 5px;
                            border: 1px solid rgba(239, 239, 239, 0.50);
                            background: #FFF;
                            font-family: Roboto;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 110.9%; /* 15.526px */
                            letter-spacing: 0.42px;
                            &::placeholder {
                                color: rgba(24, 18, 2, 0.60);
                            }
						}
					}

					.input-btn { 
                        width: 100%;
                        max-width: 138px;
                        display: block;
                        @media(max-width: $md2) {
                            max-width: 380px;
                        }
						input { 
                            width: 100%;
                            height: 48px;
                            border-radius: 5px;
                            background: #0C96D1;
                            color: #FFF;
                            font-family: Roboto;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            border: unset;
                            cursor: pointer;
                            outline: none;
						}
					}
				}
			}

			.footer__flex { 
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                gap: 20px;
                margin-bottom: 38px;
                @media(max-width: $md2) {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 0;
                    grid-gap: 30px;
                }
                @media(max-width: $md4) {
                    grid-template-columns: 1fr;
                }
				.footer__item { 
                    width: 100%;
                    max-width: 232px;
					h4 { 
                        color: #181202;
                        font-family: Roboto;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: 0.18px;
                        margin-bottom: 24px;
					}

					ul { 
                        width: 100%;
						li { 
                            margin-bottom: 14px;
                            &:last-child {
                                margin-bottom: 0;
                            }
							a { 
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                gap: 10px;
                                color: #333;
                                font-family: Roboto;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                svg {
                                    min-width: 26px;
                                }
							}
						}
					}
				}
			}

			.footer__links { 
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                @media(max-width: $md3) {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 20px;
                }
				.soc { 
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 20px;
				}

				.cards { 
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    gap: 16px;
                    @media(max-width: $md4) {
                        flex-wrap: wrap;
                        justify-content: flex-start;
                    }
					p { 
                        color: #333;
                        font-family: Roboto;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: 0.16px;
                        @media(max-width: $md4) {
                            width: 100%;
                        }
					}
				}
			}
		}
	}

	.footer__bottom { 
        width: 100%;
        padding: 20px;
        border-top: 1px solid rgba(230, 230, 230, 0.60);
		.footer__container { 
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media(max-width: $md3) {
                flex-direction: column;
                gap: 20px;
            }
			p { 
                color: #333;
                font-family: Roboto;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.525px;
			}

			ul {    
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 8px;
                @media(max-width: $md3) {
                    justify-content: center;
                    flex-wrap: wrap;
                }
				li { 
                    padding-right: 8px;
                    &:last-child {
                        padding: 0;
                        border: unset;
                    }
                    border-right: 2px solid rgba(59, 59, 59, 0.30);
                    @media(max-width: $md3) {
                        border: unset;
                    }
					a { 
                        color: #333;
                        font-family: Roboto;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: 0.14px;
                        text-decoration-line: underline;
					}
				}
			}
		}
	}
}