.bredns-page {
  width: 100%;
  padding: 20px 20px 60px;

  .bredns-page__container {
    h1 {
      color: #333;
      font-family: Roboto;
      font-size: 28px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%;
      /* 33.6px */
      letter-spacing: 0.56px;
      margin-bottom: 30px;
    }

    .bredns-page__letters {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      gap: 12px;
      margin-bottom: 40px;
      @media(max-width: $md3) {
        gap: 6px;
        margin-bottom: 20px;
      }
      button {
        width: 100%;
        max-width: 58px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        width: 58px;
        height: 85px;
        gap: 10px;
        color: #333;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-radius: 5px;
        text-transform: uppercase;
        background: #F9F9F9;
        @media(max-width: $md3) {
          max-width: 40px;
          min-width: 40px;
          width: 40px;
        }
      }

      .bredns-page__letters-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(27, 1fr);
        grid-gap: 16px 12px;
        @media(max-width: $md3) {
          grid-gap: 6px;
          overflow: auto;
        }
        button {
          width: auto;
          height: auto;
        }
      }
    }

    .bredns-page__grid {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin-bottom: 30px;
      grid-gap: 20px 0;
      @media(max-width: $md3) {
        grid-template-columns: repeat(3, 1fr);
      }
      a {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(230, 230, 230, 0.60);
        color: #0C96D1;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        @media(max-width: $md3) {
          font-size: 14px;
        }
      }
    }

    h4 {
      color: #333;
      font-family: Roboto;
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
  }
}