.myroom { 
    width: 100%;
    padding: 20px 20px 60px;
	.myroom__container { 
		h1 { 
            color: #333;
            font-family: Roboto;
            font-size: 28px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 33.6px */
            letter-spacing: 0.56px;
            margin-bottom: 36px;
		}

		.myroom__flex { 
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 20px;
            @media(max-width: $md3) {
                flex-direction: column;
            }
            .myroom-menu {
                width: 100%;
                max-width: 390px;
                @media(max-width: $md3) {
                    max-width: unset;
                }
            }

			.myroom__right { 
                width: 100%;
                max-width: 852px;
				h2 { 
                    color: #333;
                    font-family: Roboto;
                    font-size: 26px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%; /* 31.2px */
                    letter-spacing: 0.52px;
                    margin-bottom: 36px;
				}

				form { 
                    width: 100%;
					.myroom__grid { 
                        margin-bottom: 38px;
                        width: 100%;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: 20px;
                        @media(max-width: $md4) {
                            grid-template-columns: 1fr;
                        }
						.input-text { 
                            margin: 0;
						}
					}

					.input-btn { 
                        width: 100%;
						button { 
                            display: flex;
                            justify-content: center;
                            align-items: center;
						}
					}
				}
			}
		}
	}
}