.news {
    padding: 20px 20px 64px;
    .news__container {
        h1 {
            color: #333;
            font-family: Roboto;
            font-size: 28px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 33.6px */
            letter-spacing: 0.56px;
            margin-bottom: 36px;
        }
        .news__grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 26px 16px;
            @media(max-width: $md2) {
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 20px;
            } 
            @media(max-width: $md3) {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}