.order-single { 
    width: 100%;
    padding: 20px 20px 60px;
	.order-single__container { 
		h1 { 
            color: #333;
            font-family: Roboto;
            font-size: 28px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 33.6px */
            letter-spacing: 0.56px;
            margin-bottom: 36px;
		}

		.basket__products { 
            margin-bottom: 36px;
		}

		.order-single__total { 
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            padding: 28px 20px;
            border-radius: 10px;
            border: 1px solid #DADADA;
            background: rgba(217, 217, 217, 0.00);
            margin-bottom: 40px;
			p { 
                color: #333;
                font-family: Roboto;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                gap: 16px;
				span { 
                    color: #333;
                    font-family: Roboto;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    text-transform: capitalize;
				}
			}
		}

		.order-single__characteristics { 
            width: 100%;
            border-radius: 10px;
            border: 2px solid #EDEDED;
            background: #FCFCFC;
            overflow: hidden;
			p { 
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 30px;
                gap: 16px;
                border-bottom: 1px solid  #EDEDED;
                color: #333;
                font-family: Roboto;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
				span { 
                    font-size: 16px;
				}
			}

			.comments { 
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
			}
		}
	}
}