.contacts { 
    width: 100%;
    padding: 30px 20px 60px;
    @media(max-width: $md2) {
        padding: 20px;
    }
	.contacts__container { 
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
        @media(max-width: $md3) {
            flex-direction: column;
        }
		.contacts__info { 
            width: 100%;
            max-width: 308px;
            @media(max-width: $md3) {
                max-width: unset;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 20px;
            }
            @media(max-width: $md4) {
                grid-template-columns: 1fr;
            }
			h1 { 
                color: #333;
                font-family: Roboto;
                font-size: 26px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%; /* 31.2px */
                letter-spacing: 0.52px;
                text-transform: capitalize;
                margin-bottom: 26px;
                @media(max-width: $md3) {
                    grid-column-start: 1;
                    grid-column-end: 3;
                }
                @media(max-width: $md3) {
                    grid-column-end: 2;
                }
			}

			.contacts__item { 
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 10px;
                margin-bottom: 16px;
                @media(max-width: $md3) {
                    margin: 0;
                    gap: 6px;
                }
				.icon { 
                    width: 26px;
                    height: 26px;
                    min-width: 26px;
                    border-radius: 5px;
                    border: 1px solid #E6E6E6;
                    background: rgba(255, 255, 255, 0.70);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @media(max-width: $md3) {
                        width: 18px;
                        height: 18px;
                        min-width: 18px;
                    }
				}

                .text {
                    width: 100%;
                    padding-top: 4px;
                    @media(max-width: $md3) {
                        padding-top: 2px;
                    }
                }

				a { 
                    color: #000;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    display: block;
                    margin-bottom: 12px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    @media(max-width: $md3) {
                        font-size: 14px;
                    }
				}

				span { 
                    color: #333;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    display: block;
                    margin-bottom: 12px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    @media(max-width: $md3) {
                        font-size: 12px;
                    }
				}

				h4 { 
                    color: #333;
                    font-family: Roboto;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: 0.18px;
                    margin-bottom: 22px;
                    @media(max-width: $md3) {
                        font-size: 14px;
                        margin-bottom: 10px;
                    }
				}

				p { 
                    color: #000;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-bottom: 12px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    @media(max-width: $md3) {
                        font-size: 12px;
                        margin-bottom: 6px;
                    }
				}
			}

			.contacts__callback { 
                width: 100%;
                margin-bottom: 40px;
                margin-top: 40px;
                @media(max-width: $md3) {
                    margin: 0;
                }
				p { 
                    color: #333;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: 0.16px;
                    margin-bottom: 20px;
                    @media(max-width: $md3) {
                        font-size: 14px;
                    }
				}

				.contacts__callback-flex { 
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 16px;
				}
			}

			.contacts__soc { 
                width: 100%;
                p { 
                    color: #333;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: 0.16px;
                    margin-bottom: 20px;
				}

				.contacts__soc-flex { 
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 16px;
				}
			}
		}

		.contacts__map { 
            width: 100%;
            max-width: 900px;  
            @media(max-width: $md2) {
                max-width: 600px;
            }
            @media(max-width: $md3) {
                max-width: unset;
            }
			h3 { 
                color: #333;
                font-family: Roboto;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.18px;
                margin-bottom: 26px;
                @media(max-width: $md3) {
                    font-size: 14px;
                }
			}

			iframe { 
                width: 100%;
                border: unset;
                height: 470px;
                border-radius: 3px;
                opacity: 0.6;
                @media(max-width: $md3) {
                    height: 300px;
                }
			}
		}
	}
}