.banner { 
    width: 100%;
    padding: 30px 20px;
	.banner__container { 
		img { 
            width: 100%;
            min-height: 180px;
            border-radius: 10px;
            object-fit: cover;
		}
	}
}